h2{color: rgb(165, 141, 8)}
        h1{color: rgb(97, 4, 91);}

        div{background-color:
             rgb(141, 112, 11);
              border-style: solid; border-color:
               rgb(48, 31, 6);
                border-radius: 3px;}
                p{background-color:
                     rgb(14, 100, 198);
                      border-style: solid;
                       border-color:
                        rgb(48, 31, 6);
                     border-radius: 2px;}